<div id="session-body">
<div class="user-login-container">
  <hr style="border-top: dotted 3px;" >
<%= form_tag sessions_path, class:'login_form' do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, "", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%=label_tag :password %>
    <%= password_field_tag :password, "", class: 'form-control' %>
  </div>
    <%= submit_tag 'Login', class: 'form-control' %>
   <% end %>
  </div>
</div>
