<div class="appointment-container">
  <div class="appointment-details">
    <h1>Appointment Details</h1>
    <p>When? <%= @appointment.date %> @ <%= @appointment.convert_to_time %></p>
    <p>How Long? <%= @appointment.duration %></p>
    <p>Details: <%= @appointment.details %></p>
  </div>

  <div class="application-details">
    <h1>Apply to Help:</h1>
    <%= form_for [@appointment,@application] do |f| %>
    <%= f.text_area :body, class: 'form-control'  %>
    <div>
    <%= f.submit 'Send Caregiver A Message', class: 'form-control' %>
    </div>
    <% end %>
  </div>
</div>
