<div class="show-container">
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <p id="profile-pic"><%= image_tag current_user.loginable.image(:thumb), :class => "img-circle img-thumbnail img-responsive"%></p>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <div class="about">
          <h2 class="page-header">Profile Page</h2>
      <h2 class="profile-subheader">About Me</h2>
      <h3>Summary</h3>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show</button>
      <div id="demo" class="collapse">
      <p><%= @caregiver.about_me %></p>
    </div>
    <div class="patient-info">
    <h2 class="profile-subheader">Patient Overview</h2>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#patients">Show</button>
      <div id="patients" class="collapse">
      <h3>Patient Name</h3>
      <div><p><%= @caregiver.patient.name %></p></div>
      <h3>Patient Age</h3>
      <div><p><%= @caregiver.patient.age %></p></div>
      <h3>Patient Gender</h3>
      <div><p><%= @caregiver.patient.gender %></p></div>
      <h3>Patient Ailments</h3>
      <div><p><%= @caregiver.patient.ailments %></p></div>
      <h3>Patient Hobbies</h3>
      <div><p><%= @caregiver.patient.hobbies %></p></div>
      <h3>Patient Background</h3>
      <div><p><%= @caregiver.patient.background %></p></div>
      </div>
    </div>
    </div>
  </div>
</div>

  <div class="appointments" id="calendar">
    <%= month_calendar events: @caregiver.appointments do |date, appointments| %>
    <%= date %>
    <% appointments.each do |appointment| %>
        <div>
          Needs Caretaking!
          <%= link_to 'Apply To Help', new_appointment_application_path(appointment) %>
        </div>
        <% end %>
    <% end %>
  </div>
</div>

