<div id="profile-show">
  <div class="basic-info">
  <%=render :partial=> 'caregivers/login_info', locals: {caregiver: @caregiver}%>
  </div>
<div class="profile-tabs row">
  <ul class="nav-tabs">
    <li class="active"><a data-toggle="tab" href="#about">About Me</a></li>
    <li><a data-toggle="tab" href="#background-info">My Background</a></li>
    <li><a data-toggle="tab" href="#contact">Contact Me</a></li>
  </ul>
</div>
  <div class="tab-content">
    <div id="about" class="tab-pane fade in active">
      <h3 class="sub-profile-header">Summary</h3>
      <p><%= @caregiver.about %></p>
      <h3 class="sub-profile-header">Hobbies</h3>
      <p><%= @caregiver.hobbies %></p>
    </div>

    <div id="background-info" class="tab-pane">
      <h3 class="sub-profile-header">Relevant Caretaking Experience</h3>
      <p><%= @caregiver.experience %></p>
      <h3 class="sub-profile-header">Education</h3>
      <p><%= @caregiver.education %></p>
      <h3 class="sub-profile-header">Credentials</h3>
      <p><%= @caregiver.credentials %></p>
      <h3 class="sub-profile-header">Specialties</h3>
      <p><%= @caregiver.specialities %></p>

      <div id= "badge-count">
        <p>You have <%= current_user.loginable.badges.count %> badges. Help more people to receive badges and become CERTIFIED."</p>
        <ul>
          <% current_user.loginable.badges.each do |badge| %>
            <li><%= badge.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="contact" class="tab-pane">
      <%= form_tag on_call_caregiver_send_email_to_path(@caregiver) do %>
        <%= text_area_tag :message, "", rows: 5, class: "form-control" %>
        <%= submit_tag 'Send Personal Message', class: "btn btn-primary form-control contact-submit" %>
      <% end %>
    </div>
  </div>
</div>
