<!DOCTYPE html>
<html>
<head>
  <title>CommuniCare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag :search_on_call_caregivers_path%>
    <%= select :distance, [5, 10, 20, 50, 100]%>
  <%end%>


<%= yield %>

</body>
</html>
