<!DOCTYPE html>
<html>
<head>
  <title>CommuniCare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js">
  </script>
  <script src = "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js">
  </script>
  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css' rel= "stylesheet" />
  <link href= "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.print.css"
  rel= "stylesheet" />

</head>
<body>
  Search for Caregivers in Your Area
  <%= form_tag :search_on_call_caregivers, method: :get do %>
    <%= select_tag :distance, options_for_select([["5",5], ["10",10], ["20",20], ["50",50], ["100",100]])%>
    <%= submit_tag "Search" %>
  <%end%>

<%= yield %>

</body>
</html>
