<!DOCTYPE html>
<html>
<head>
  <title>CommuniCare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  Search for Caregivers in Your Area
  <%= form_tag :search_on_call_caregivers, method: :get do %>
    <%= select_tag :distance, options_for_select([["5",5], ["10",10], ["20",20], ["50",50], ["100",100]])%>
    <%= submit_tag "Search" %>
  <%end%>
<%= yield %>

</body>
</html>
